@page "/credentials"
@layout SidebarLayout

<PageTitle>Credentials</PageTitle>

<ilw-content>
    <h1>Credentials</h1>
    @if (_useCredentials.HasValue && _useCredentials.Value)
    {
        <p>
            Programs are a group of credentials connected by a common educational thread. For example, the Learning Design and Leadership program may have a Bachelor's Degree, Master's Degree, and Doctorate Degree.
        </p>
        <p>
            A valid program must contain one or more credentials. A program may have only one credential. 
        </p>


        <SearchGenericItem @ref="@_searchGenericItem" GenericItems="@CredentialList" ItemTitle="Credential" EditClicked="ChooseCredential" SearchClicked="GetCredentials"></SearchGenericItem>

        <h2>Create a new credential</h2>
        @if (_usePrograms.HasValue && _usePrograms.Value)
        {
            <p>
                Because your area uses programs, all credentials need to be assigned to a program. <a href="/programs">Please edit a program</a> and choose "Credential List" to add a credential.
            </p>

        } else if (_usePrograms.HasValue && !_usePrograms.Value)
        {
            <button class="ilw-button" @onclick="SetNewCredential">Create Credential</button>
        }
    } else if (_useCredentials.HasValue && !_useCredentials.Value)
    {
        <p>
            Your area does not use credentials. <a href="/configuration/fieldsused/credentials">Go to the Configuration / Fields Used section to enable credentials.</a>
        </p>
    }
    else
    {
        <p>
            Fetching credentials, please be patient.
        </p>
    }
</ilw-content>
