@page "/programs"
@layout SidebarLayout

<PageTitle>Programs</PageTitle>

<ilw-content>
    <h1>Programs</h1>
    @if (_usePrograms.HasValue && _usePrograms.Value)
    {
        <p>
            Programs are a group of credentials connected by a common educational thread. For example, the Learning Design and Leadership program may have a Bachelor's Degree, Master's Degree, and Doctorate Degree.
        </p>
        <p>
            A valid program must contain one or more credentials. A program may have only one credential. 
        </p>

        <SearchGenericItem @ref="@_searchGenericItem" GenericItems="@ProgramList" ItemTitle="Program" EditClicked="ChooseProgram" SearchClicked="GetPrograms"></SearchGenericItem>

        <h2>Create a new program</h2>
        <button class="ilw-button" @onclick="SetNewProgram">Create Program</button>
    } else if (_usePrograms.HasValue && !_usePrograms.Value)
    {
        <p>
            Your area does not use programs. <a href="/configuration/fieldsused/programs">Go to the Configuration / Fields Used section to enable programs.</a>
        </p>
    } else
    {
        <p>
            Fetching programs, please be patient.
        </p>
    }
</ilw-content>
