@page "/course/associatedcourses"
@layout SidebarLayout

<PageTitle>Course - Associated Courses</PageTitle>

<ilw-content>
    <h1>Associated Courses</h1>

    <p>This is planned in a future release.</p>
</ilw-content>