@page "/course/general"
@layout SidebarLayout

<PageTitle>Course - General Information</PageTitle>

<ilw-content>
    <h1>General Information</h1>
</ilw-content>

@if (CourseItem != null) {
    <MediumText Title="Title" FieldItems="FieldItems" @bind-Value="CourseItem.CourseTitle"></MediumText>
    <SmallText Title="Rubric" FieldItems="FieldItems" @bind-Value="CourseItem.Rubric"></SmallText>
    <SmallText Title="Course Number" FieldItems="FieldItems" @bind-Value="CourseItem.CourseNumber"></SmallText>
    <LargeText Title="Summary" FieldItems="FieldItems" @bind-Value="CourseItem.SummaryText"></LargeText>
    <LargeText Title="Description" FieldItems="FieldItems" @bind-Value="CourseItem.Description"></LargeText>
    <LargeText Title="Information" FieldItems="FieldItems" @bind-Value="CourseItem.Information"></LargeText>
    <SmallText Title="Course Length" FieldItems="FieldItems" @bind-Value="CourseItem.Length"></SmallText>
    <SmallText Title="Course Cost" FieldItems="FieldItems" @bind-Value="CourseItem.Cost"></SmallText>
    <SmallText Title="Credit Hours" FieldItems="FieldItems" @bind-Value="CourseItem.CreditHours"></SmallText>
    <SmallText Title="Enrollment Date" FieldItems="FieldItems" @bind-Value="CourseItem.EnrollmentDate"></SmallText>
    <ilw-content>
        <ul class="ilw-buttons" id="save-group">
            <li>
                <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
            </li>
            <li>
                <ViewLink Title="Course" Url="@CourseItem.UrlFull"></ViewLink>
            </li>
            @if (!string.IsNullOrWhiteSpace(QuickLinkUrl))
            {
                <li>
                    <a class="ilw-button" href="@QuickLinkUrl">Back</a>
                </li>
            }
        </ul>
    </ilw-content>
}
