@page "/courses/import"
@layout SidebarLayout

<PageTitle>Import a Course</PageTitle>

<ilw-content>
    <h1>Import a Course</h1>
    @if (_useCourses.HasValue && _useCourses.Value && _useSections.HasValue && _useSections.Value)
    {
        <p>
            This will run / schedule a course import from the Electronic Data Warehouse. You can do one of two options:
            <ol>
                <li><strong>By Rubric:</strong> this will load all of a specific rubric into your source. This is asynchronous and make take a while to run. This will overwrite your existing course information. You can view the logs to see the progress.</li>
                <li><strong>By Rubric and Course Number:</strong> this will load a specific course into your source. This will run immediately, and you have the option to overwrite the source information or just load new sections.</li>
            </ol>
        </p>

        <div class="ils-input-entry">
            <label for="rubric">Rubric</label>
            <input id="rubric" type="text" @bind="Rubric" />
        </div>

        <div class="ils-input-entry">
            <label for="coursenumber">Course Number</label>
            <input id="coursenumber" type="text" @bind="CourseNumber" />
        </div>

        <div class="ils-input-entry">
            <div class="ils-input-entry-compact">
                <label for="sections">Include Sections?</label>
                <div class="ils-toggle-slider">
                    <input id="sections" type="checkbox" @bind="IncludeSections" role="switch" />
                    <span>
                        <span class="ils-container"></span>
                        <span aria-hidden="true" class="ils-text-on">Yes</span>
                        <span aria-hidden="true" class="ils-text-off">No</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="ils-input-entry">
            <div class="ils-input-entry-compact">
                <label for="titleonly">Overwrite existing data?</label>
                <div class="ils-toggle-slider">
                    <input id="titleonly" type="checkbox" @bind="Overwrite" role="switch" />
                    <span>
                        <span class="ils-container"></span>
                        <span aria-hidden="true" class="ils-text-on">Yes</span>
                        <span aria-hidden="true" class="ils-text-off">No</span>
                    </span>
                </div>
            </div>
        </div>

        <button class="ilw-button ilw-theme-orange-2" @onclick="SendImport" @onblur="Layout.RemoveMessage">Import Course</button>
    }
    else if (_useCourses.HasValue && _useSections.HasValue)
    {
        <p>
            Your area does not use courses or sections. Go to the Configuration section to <a href="/configuration/fieldsused/courses">enable courses</a> and <a href="/configuration/fieldsused/sections">enable sections</a>.
        </p>
    }

</ilw-content>
