@page "/course/link"
@layout SidebarLayout

<PageTitle>Course - Link Information</PageTitle>

<ilw-content>
    <h1>Link Information</h1>
</ilw-content>

@if (CourseItem != null)
{
    <UrlText Title="Summary Link (URL)" FieldItems="FieldItems" @bind-Value="CourseItem.Url"></UrlText>
    <UrlText Title="Apply Now / Get More Information Link (URL)" FieldItems="FieldItems" @bind-Value="CourseItem.ExternalUrl"></UrlText>
    <div class="image-box">
    <ImageControl @ref="@_imageCourseImage" Title="Image URL" FieldItems="FieldItems" @bind-Value="CourseItem.ImageUrl" ItemId="@CourseItem.Id"></ImageControl>
    <MediumText Title="Image Alt Text" FieldItems="FieldItems" @bind-Value="CourseItem.ImageAltText"></MediumText>
    </div>
    <UrlText Title="Video URL" FieldItems="FieldItems" @bind-Value="CourseItem.VideoUrl"></UrlText>
    <ilw-content>
        <ul class="ilw-buttons" id="save-group">
            <li>
                <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
            </li>
            <li>
                <ViewLink Title="Course" Url="@CourseItem.UrlFull"></ViewLink>
            </li>
            @if (!string.IsNullOrWhiteSpace(QuickLinkUrl))
            {
                <li>
                    <a class="ilw-button" href="@QuickLinkUrl">Back</a>
                </li>
            }
        </ul>
    </ilw-content>
}
