@page "/course/locationtime"
@layout SidebarLayout

<PageTitle>Course - Location &amp; Time</PageTitle>

<ilw-content>
    <h1>Location &amp; Time</h1>

    @if (CourseItem != null)
    {
        <h2>Location</h2>
        <MediumText Title="Building" FieldItems="FieldItems" @bind-Value="CourseItem.DefaultBuilding"></MediumText>
        <MediumText Title="Room" FieldItems="FieldItems" @bind-Value="CourseItem.DefaultRoom"></MediumText>

        <h2>Time</h2>
        <TermSelectList Title="Term" FieldItems="FieldItems" @bind-Value="CourseItem.Term"></TermSelectList>
        <DayOfWeekCheckboxList Title="Days" FieldItems="FieldItems" @bind-Value="CourseItem.DaysOfWeekList"></DayOfWeekCheckboxList>
        <SmallText Title="Time" FieldItems="FieldItems" @bind-Value="CourseItem.DefaultTime"></SmallText>
        <ilw-content>
            <ul class="ilw-buttons" id="save-group">
                <li>
                    <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
                </li>
                <li>
                    <ViewLink Title="Course" Url="@CourseItem.UrlFull"></ViewLink>
                </li>
                @if (!string.IsNullOrWhiteSpace(QuickLinkUrl))
                {
                    <li>
                        <a class="ilw-button" href="@QuickLinkUrl">Back</a>
                    </li>
                }
            </ul>
        </ilw-content>
    }
</ilw-content>
