@page "/course/notelist"
@layout SidebarLayout

<PageTitle>Programs - List of Notes / FAQ Information</PageTitle>

<ilw-content>
    <h1>List of Notes / FAQ Information</h1>
    <p>This is meant to generate an FAQ-like area or individual notes for a course. This will be displayed on the course page.</p>
    @if (!string.IsNullOrWhiteSpace(Instructions)) {
        <h2>Instructions</h2>
        <p>@Instructions</p>
    }
</ilw-content>
@if (UseItem) {
    <NoteListEditor Notes="Notes" NoteTemplateTitles="NoteTemplateTitles" SetDirty="e => SetDirty()"></NoteListEditor>
    <button class="ilw-button ilw-theme-orange-solid" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
    <ViewLink Title="Course" Url="@CourseItem.UrlFull"></ViewLink>
} else {
    <ilw-content><p>Notes are not currently being used for this source. You can enable this in the <a href="/configuration/fieldsused/courses">Fields Used</a> section.</p></ilw-content>
}
