@page "/course/security"
@layout SidebarLayout

<PageTitle>Course - Security</PageTitle>

<ilw-content>
    <h1>Security</h1>
    <p>Note that all changes will happen immediately -- you do not need to click a <em>save</em> button to save your changes.</p>

    @if (CourseItem != null && SecurityEntries != null)
    {
        @foreach (var entry in SecurityEntries)
        {
            <RestrictedEntry ItemId="@CourseItem.Id" SecurityEntry="@entry"></RestrictedEntry>
        }
        <ViewLink Title="Course" Url="@CourseItem.UrlFull"></ViewLink>
    }
</ilw-content>
