<ilw-header-menu slot="navigation">
    <ul>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Edit Information</span>
                <ul>
                    <li><a href="/programcred">Programs &amp; Credentials</a></li>
                    <li><a href="/courses">Courses &amp; Sections</a></li>
                    <li><a href="/requirementsets">Requirement Sets</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Audit Screens</span>
                <ul>
                    <li><a href="/audit/programs">Programs Without Credentials</a></li>
                    <li><a href="/audit/courses">Courses Without Sections</a></li>
                    <li><a href="/audit/coursesfaculty">Courses with Faculty with no URLs</a></li>
                    <li><a href="/audit/changed">Recently Changed Items</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Configuration</span>
                <ul>
                    <li><a href="/configuration/sources">Sources</a></li>
                    <li><a href="/configuration/fieldsused/programs">Fields Used</a></li>
                    <li><a href="/configuration/filters">Filters</a></li>
                    <li><a href="/configuration/security">Security</a></li>
                    <li><a href="/configuration/requestdeletion">Request Deletion</a></li>
                    <li><a href="/configuration/testing">Testing Access</a></li>
                    <li><a href="/configuration/save">Save Information to JSON</a></li>
                    <li><a href="/configuration/load">Load JSON Information to Server</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Contact Us</span>
                <ul>
                    <li><a href="/resources">Helpful Resources</a></li>
                    <li><a href="https://go.illinois.edu/itpartners-directory-help">Report a Problem</a></li>
                    <li><a href="/about">About This Project</a></li>
                    <li><a href="/finder">Creating a Program / Course Finder</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
    </ul>
</ilw-header-menu>