@page "/about"

<PageTitle>About this Project</PageTitle>

<ilw-content width="page">
    <h1>About this Project</h1>
    <p>In 2019, the College of Education needed a way to organize our various programs and make it more agile. Other campus units also needed to organize their program and course information (for example, Gies College of Business was looking for a tool to organize their online portfolio). The Program / Course Repository application was built to meet these needs.</p>
    <h2>Application Programming Interface</h2>
    <p>The API for this is through a function app that is hosted at <a href="https://courseapi.wigg.illinois.edu/api/swagger/ui">the WIGG Course API</a>, and has search and ID options. Request information through an HTTP Get or Post and get JSON back.</p>
    <h2>Can I get access to this?</h2>
    <p>You have three options:</p>
    <ul>
        <li>Go to the <a href="/configuration/sources">Source Code listing</a> and create a source code. Once you create a new source code, you can start adding information through the editing interface and start pulling data using your programming language of choice by referencing the source code.</li>
        <li>Contact <a href="mailto:support@education.illinois.edu">support@education.illinois.edu</a> and ask for source code and say you want to use the API only. Our team will generate a keycode so you can send information through our API. Your keycode will be restricted to your source only, so you won’t risk writing over other’s information.</li>
        <li>Take the existing code and point it to your own AWS OpenSearch instance. Go to <a href="https://github.com/web-illinois/data-course">our GitHub repository</a> to see the code.</li>
    </ul>
    <p>We can also work with you to run scheduled imports from courses.illinois.edu.</p>
</ilw-content>