@page "/about"

<PageTitle>About the Project and Resources</PageTitle>
<ilw-content width="page">
    <h1>About the Project and Resources</h1>

    <h2>Resources</h2>
    <p>The API for this is through a function app that is hosted at <a href="https://courseapi.wigg.illinois.edu/api/swagger/ui">the WIGG Course API</a>, and has search and ID options. Request information through an HTTP Get or Post and get JSON back.</p>

    <p>To report a bug or request an enhancement, go to <a href="https://go.illinois.edu/itpartners-course-help">our GitHub repository and create an issue</a>. This will log the issue so we can review it. Note that this application is meant for campus, which means we cannot customize it to a specific unit unless others will benefit from the change.</p>

    <p>This application is meant to be used with the Illinois Toolkit, although there's no reason why you cannot use this application alone. The <a href="https://builder3.toolkit.illinois.edu/integration/production/index.html">Toolkit Builder</a> will have examples of how this can be integrated with the toolkit.</p>

    <p>Learn more about how to edit and configure your information with the <a href="https://go.illinois.edu/program-course-instructions">Program / Course Repository Training Document</a>.</p>

    <p>We are also working on enhancements for this. To see the project status of individual items, you can look at <a href="https://github.com/orgs/web-illinois/projects/18/">our GitHub project status board</a>.</p>

    <h3>Can I get access to this?</h3>
    <p>You have three options:</p>
    <ul>
        <li>Go to the <a href="/configuration/sources">Source Code listing</a> and create a source code. Once you create a new source code, you can start adding information through the editing interface and start pulling data using your programming language of choice by referencing the source code.</li>
        <li>Go to the <a href="/configuration/sources">Source Code listing</a> and create a source code. Once you have created a new source code, go to the <a href="/configuration/security">Security tab</a> and add an API key. This will allow you to programatically add and edit courses, programs, etc. from your site via API calls.</li>
        <li>Take the existing code and point it to your own AWS OpenSearch instance. Go to <a href="https://github.com/web-illinois/data-course">our GitHub repository</a> to see the code.</li>
    </ul>

    <h2>About This Project</h2>

    <p>This started in 2019 (with Bryan Jonker, Myranda Crist, and Elaine Robbins) as a way to organize the various programs that we have in the College of Education. The first incarnation worked but was skewed towards larger programs.</p>

    <p>In 2022, Gies College of Business needed a way to organize their online portfolio. At the same time, the College of Education needed an easier way to maintain our existing program list and make it more agile. At the same time as that, other areas on campus needed to organize their program and course information. This was built to meet those needs, with the emphasis on making it extensible to other areas of campus.</p>

    <p>In 2026, we transferred the tool to WIGG and the University Website Management Center of Expertise group.</p>
</ilw-content>
