@page "/resources"

<PageTitle>Helpful Resources</PageTitle>

<ilw-content width="page">
    <h1>Helpful Resources</h1>

    <p>You may contact <a href="/configuration/sources">source owners</a> if you need access to a particular source or have questions about a source.</p>

    <h2>Documentation</h2>
    <p>Learn more about how to edit and configure your information with the <a href="https://go.illinois.edu/program-course-instructions">Program / Course Repository Training Document</a>.</p>

    <h2>Technical Support</h2>
    <p>If you run into a technical issue using this application, please <a href="https://go.illinois.edu/program-course-help">let us know</a>.</p>

</ilw-content>