ilw-content .requirement-box, ilw-content .credential-box, ilw-content .security-box, ilw-content .link-box {
    display: grid;
    border: 1px solid var(--il-blue);
    padding: 10px;
    margin: 10px 0;
    column-gap: 40px;
}

    ilw-content .requirement-box a, ilw-content .credential-box a, ilw-content .security-box a, ilw-content .link-box a {
        color: var(--il-industrial);
    }

ilw-content .requirement-box, ilw-content .security-box {
    grid-template-columns: 1fr 125px;
}

ilw-content .credential-box, ilw-content .link-box {
    grid-template-columns: 1fr 225px;
}

    ilw-content .requirement-box p, ilw-content .credential-box p, ilw-content .security-box p {
        margin: 0 0 10px 0;
        font: normal 700 1.25rem / 1.5rem var(--il-font-sans);
    }

    ilw-content .link-box p {
        margin: 0 0 10px 0;
        font: normal 500 1.25rem / 1.5rem var(--il-font-sans);
    }

ilw-content .security-box p {
    display: flex;
    align-self: center;
    padding-left: 10px;
}

ilw-content .requirement-box .note, ilw-content .credential-box .note {
    display: flex;
    align-items: center;
    column-gap: 10px;
    grid-column: 1;
}

ilw-content .requirement-box .button-group, ilw-content .credential-box .button-group {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-content: center;
}

ilw-content .credential-box .button-group {
    display: flex;
    column-gap: 10px;
}

ilw-icon.rotate {
    transform: rotate(90deg);
    display: block;
    padding-top: 5px;
}

.image-box {
    border: 1px solid var(--il-blue);
    padding: 10px;
    margin: 40px 0;
    border-radius: 6px;
}

button.ilw-button.small {
    padding: 0 5px;
}

ul.ilw-buttons#save-group {
    justify-content: start;
}

div.faculty-box {
    border: 1px solid var(--il-storm);
    padding: 0 20px;
    border-radius: 6px;
}

div.button-group {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

    div.button-group button {
        max-height: 40px;
    }