@page "/credential/courselist"
@layout SidebarLayout

<PageTitle>Credentials - Course List</PageTitle>

<ilw-content>
    <h1>Courses</h1>
    <p>To add courses to a credential, you must add a requirement set. You may add an existing requirement set or create a new requirement set below.</p>

    <h2>Plan of Study Introduction</h2>
    <LargeText Title="Plan of Study Introduction" FieldItems="FieldItems" @bind-Value="CredentialItem.PlanOfStudyIntroduction"></LargeText>

    <h2>Chosen Requirement Sets</h2>

    @if (CredentialItem != null && RequirementSetList != null)
    {
        @foreach (var requirementset in ChosenRequirementSetList.Select((v, i) => (v, i)))
        {
            <div class="credential-box">
                <p><a @onclick="() => Edit(requirementset.v.Id)">@requirementset.v.Title</a></p>
                <div class="button-group">
                    <button class="ilw-button small" @onclick="() => Up(requirementset.i)"><ilw-icon alt="up" size="24px" icon="back" class="rotate"></ilw-icon></button>
                    <button class="ilw-button small" @onclick="() => Down(requirementset.i)"><ilw-icon alt="down" size="24px" icon="next" class="rotate"></ilw-icon></button>
                    <button class="ilw-button small" @onclick="() => Remove(requirementset.i)">Remove</button>
                </div>
            </div>
        }
    }
</ilw-content>


<div>
    <ilw-content>
        <h2>Add Requirement Sets</h2>
    </ilw-content>
    <div>
        <SearchGenericItem @ref="@_searchGenericItem" GenericItems="@RequirementSetList" ActionButtonTitle="Add to Credential" AddButtonTitle="Create New Requirement Set" ItemTitle="Requirement Set" EditClicked="ChooseRequirementSet" SearchClicked="GetRequirementSet" AddClicked="CreateNewPrivateRequirementSet"></SearchGenericItem>
    </div>
</div>

<ilw-content>
    <ul class="ilw-buttons" id="save-group">
        <li>
            <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
        </li>
        @if (UsePrograms)
        {
            <li>
                <a class="ilw-button" @onclick="BackToProgram">Back</a>
            </li>
        }
    </ul>
</ilw-content>
