@page "/credential/general"
@layout SidebarLayout

<PageTitle>Credentials - General Information</PageTitle>

<ilw-content>
    <h1>General Information</h1>
</ilw-content>

@if (CredentialItem != null) {
    <MediumText Title="Title" FieldItems="FieldItems" @bind-Value="CredentialItem.Title"></MediumText>
    <LargeText Title="Summary Text" FieldItems="FieldItems" @bind-Value="CredentialItem.SummaryText"></LargeText>
    <SmallText Title="Credit Hours" FieldItems="FieldItems" @bind-Value="CredentialItem.HourText"></SmallText>
    <SmallText Title="Cost" FieldItems="FieldItems" @bind-Value="CredentialItem.Cost"></SmallText>
    <SmallText Title="Credential Length" FieldItems="FieldItems" @bind-Value="CredentialItem.Length"></SmallText>
    <SmallText Title="Suggested Enrollment Date" FieldItems="FieldItems" @bind-Value="CredentialItem.Enrollment"></SmallText>
    <SelectList Title="Credential Type" FieldItems="FieldItems" @bind-Value="CredentialItem.CredentialType"></SelectList>
    <CheckboxList Title="Course Format" FieldItems="FieldItems" @bind-Value="CredentialItem.FormatType"></CheckboxList>
    <ul class="ilw-buttons" id="save-group">
        <li>
            <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
        </li>
        <li>
            <ViewLink Title="Credential" Url="@CredentialItem.UrlFull"></ViewLink>
        </li>
        @if (UsePrograms)
        {
            <li>
                <a class="ilw-button" @onclick="BackToProgram">Back</a>
            </li>
        }
    </ul>
}

