@page "/credential/link"
@layout SidebarLayout

<PageTitle>Credentials - Link and Image</PageTitle>

<ilw-content>
    <h1>Link and Image</h1>
</ilw-content>

@if (CredentialItem != null)
{
    <MediumText Title="URL Fragment" FieldItems="FieldItems" @bind-Value="CredentialItem.Fragment"></MediumText>
    <UrlText Title="Summary Link (URL)" FieldItems="FieldItems" @bind-Value="CredentialItem.Url"></UrlText>
    <UrlText Title="Apply Now / Get More Information Link (URL)" FieldItems="FieldItems" @bind-Value="CredentialItem.ExternalUrl"></UrlText>
    <div class="image-box">
    <ImageControl @ref="@_imageUrl" Title="Credential Image" FieldItems="FieldItems" @bind-Value="CredentialItem.ImageUrl" ItemId="@CredentialItem.Id"></ImageControl>
        <MediumText Title="Credential Image Alt Text" FieldItems="FieldItems" @bind-Value="CredentialItem.ImageAltText"></MediumText>
    </div>
    <ul class="ilw-buttons" id="save-group">
        <li>
            <button class="ilw-button ilw-theme-orange-solid" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
        </li>
        <li>
            <ViewLink Title="Credential" Url="@CredentialItem.UrlFull"></ViewLink>
        </li>
        @if (UsePrograms)
        {
            <li>
                <a class="ilw-button" @onclick="BackToProgram">Back</a>
            </li>
        }
    </ul>
}