@page "/credential/overview"
@layout SidebarLayout

<PageTitle>Credentials - Overview</PageTitle>

<ilw-content>
    <h1>Overview</h1>
    <RichTextEditor @ref="@_rteDescription" Title="Description" FieldItems="FieldItems"></RichTextEditor>
    <RichTextEditor @ref="@_rteProgramNotes" Title="Program Notes" FieldItems="FieldItems"></RichTextEditor>
    <button class="ilw-button" @onclick="Save" @onblur="Layout.RemoveMessage">Save Changes</button>
</ilw-content>