@page "/credential/overview"
@layout SidebarLayout

<PageTitle>Credentials - Overview</PageTitle>

<ilw-content>
    <h1>Overview</h1>
    <RichTextEditor @ref="@_rteDescription" Title="Description" FieldItems="FieldItems"></RichTextEditor>
    <MediumText Title="Program Notes Title" FieldItems="FieldItems" @bind-Value="CredentialItem.NoteTitle"></MediumText>
    <RichTextEditor @ref="@_rteProgramNotes" Title="Program Notes" FieldItems="FieldItems"></RichTextEditor>
    @if (CredentialItem != null)
    {
        <ul class="ilw-buttons" id="save-group">
            <li>
                <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
            </li>
            <li>
                <ViewLink Title="Credential" Url="@CredentialItem.UrlFull"></ViewLink>
            </li>
            @if (UsePrograms)
            {
                <li>
                    <a class="ilw-button" @onclick="BackToProgram">Back</a>
                </li>
            }
        </ul>
    }
</ilw-content>