@page "/credential/technical"
@layout SidebarLayout

<PageTitle>Credentials - Technical Information</PageTitle>

<ilw-content>
    <h1>Technical Information</h1>
</ilw-content>

@if (CredentialItem != null) {
    <StatusOnSite @bind-Value="CredentialItem.IsActive"></StatusOnSite>
    <MediumText Title="URL Fragment" FieldItems="FieldItems" @bind-Value="CredentialItem.Fragment"></MediumText>
    <ul class="ilw-buttons" id="save-group">
        <li>
            <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
        </li>
        @if (UsePrograms)
        {
            <li>
                <a class="ilw-button" @onclick="BackToProgram">Back</a>
            </li>
        }
    </ul>
    <ilw-content><h2>Information to Copy</h2></ilw-content>
    <IdList Title="Id" FieldItems="FieldItems" Id="@CredentialItem.Id"></IdList>
    <IdList Title="Edit Link" FieldItems="FieldItems" Id="@CredentialItem.EditLink"></IdList>
    <DeleteNotice DeleteClicked="Delete" ItemTitle="@CredentialItem.Title"></DeleteNotice>
}

