@page "/credential/transcriptable"
@layout SidebarLayout

<PageTitle>Credentials - Transcriptable Information</PageTitle>

<ilw-content>
    <h1>Transcriptable Information</h1>
</ilw-content>

@if (CredentialItem != null) {
    <IsTranscriptable Title="Is This Credential Transcriptable" FieldItems="FieldItems" @bind-Value="CredentialItem.IsTranscriptable"></IsTranscriptable>
    <MediumText Title="Transcriptable Name" FieldItems="FieldItems" @bind-Value="CredentialItem.TranscriptableName"></MediumText>
    <MediumText Title="Major Title" FieldItems="FieldItems" @bind-Value="CredentialItem.MajorTitle"></MediumText>
    <MediumText Title="Minor Title" FieldItems="FieldItems" @bind-Value="CredentialItem.MinorTitle"></MediumText>
    <LargeText Title="Disclaimer Text" FieldItems="FieldItems" @bind-Value="CredentialItem.DisclaimerText"></LargeText>
    <ul class="ilw-buttons" id="save-group">
        <li>
            <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
        </li>
        <li>
            <ViewLink Title="Credential" Url="@CredentialItem.UrlFull"></ViewLink>
        </li>
        @if (UsePrograms)
        {
            <li>
                <a class="ilw-button" @onclick="BackToProgram">Back</a>
            </li>
        }
    </ul>
}

