@page "/section/locationtime"
@layout SidebarLayout

<PageTitle>Section - Location &amp; Time</PageTitle>

<ilw-content>
    <h1>Location &amp; Time</h1>

    @if (SectionItem != null)
    {
        <h2>Location</h2>
        <MediumText Title="Building" FieldItems="FieldItems" @bind-Value="SectionItem.Building"></MediumText>
        <MediumText Title="Room" FieldItems="FieldItems" @bind-Value="SectionItem.Room"></MediumText>

        <h2>Time</h2>
        <TermSelectList Title="Term" FieldItems="FieldItems" @bind-Value="SectionItem.Term"></TermSelectList>
        <SmallText Title="Semester Year" FieldItems="FieldItems" @bind-Value="SectionItem.SemesterYear"></SmallText>
        <DateText Title="Begin Date" FieldItems="FieldItems" @bind-Value="SectionItem.BeginDate"></DateText>
        <DateText Title="End Date" FieldItems="FieldItems" @bind-Value="SectionItem.EndDate"></DateText>
        <DayOfWeekCheckboxList Title="Days" FieldItems="FieldItems" @bind-Value="SectionItem.DaysOfWeekList"></DayOfWeekCheckboxList>
        <SmallText Title="Time" FieldItems="FieldItems" @bind-Value="SectionItem.Time"></SmallText>
        <ul class="ilw-buttons" id="save-group">
            <li>
                <button class="ilw-button ilw-theme-orange-solid" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
            </li>
            <li>
                <a class="ilw-button" @onclick="BackToCourse">Back</a>
            </li>
        </ul>
    }
</ilw-content>
