@page "/section/technical"
@layout SidebarLayout

<PageTitle>Section - Technical Information</PageTitle>

<ilw-content>
    <h1>Technical Information</h1>
</ilw-content>

@if (SectionItem != null)
{
    <StatusOnSite @bind-Value="SectionItem.IsActive"></StatusOnSite>
    <MediumText Title="URL Fragment" FieldItems="FieldItems" @bind-Value="SectionItem.Fragment"></MediumText>
    <ul class="ilw-buttons" id="save-group">
        <li>
            <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
        </li>
        <li>
            <a class="ilw-button" @onclick="BackToCourse">Back</a>
        </li>
    </ul>
    <div class="information-to-copy">
        <ilw-content class="header"><h2>Information to Copy</h2></ilw-content>
        <IdList Title="Id" FieldItems="FieldItems" Id="@SectionItem.Id"></IdList>
        <IdList Title="Edit Link" FieldItems="FieldItems" Id="@SectionItem.EditLink"></IdList>
    </div>
    <DeleteNotice DeleteClicked="Delete" ItemTitle="@SectionItem.Title"></DeleteNotice>
}