@page "/configuration/loadjson"
@layout SidebarLayout

<PageTitle>Configuration - Load JSON Information to the Server</PageTitle>

<ilw-content>
    <h1>Load JSON Information to the Server</h1>
    <p>JSON (JavaScript Object Notation) is an open standard format that uses human-readable text to store and transmit data. If you need to make bulk changes, you can save these JSON files, make changes to the JSON files, and then load the JSON files back to the server. You can also use this to restore your programs, courses, and requirement sets from a backup.</p>
    <p>You may load program data (including credentials), course data (including sections), and requirement sets. If the ID is the same as an existing item, it will overwrite it. Otherwise, it will add it to the existing set.</p>
    <p>Note that this may take a while to run. Also note that the ID of the items must start with the source.</p>
    <ilw-content>
        <div class="ils-input-entry">
            <label for="filetype">File type</label>
            <select id="filetype" type="text" @bind="FileType">
                <option value=""></option>
                <option value="Programs">Programs</option>
                <option value="Courses">Courses</option>
                <option value="RequirementSets">Requirement Sets</option>
            </select>
        </div>
    </ilw-content>
    <InputFile OnChange="@LoadFile" style="width: calc(100% - 60px); height: initial; padding: 20px 30px; font: 700 1.188rem / 1.25rem var(--il-font-sans);" />
    <p><button class="ilw-button" @onclick="Load" @onblur="Layout.RemoveMessage">Load JSON File</button></p>
</ilw-content>
