@page "/configuration/requestdeletion"
@layout SidebarLayout

<PageTitle>Request Deletion</PageTitle>

<ilw-content>
    <h1>Request Deletion</h1>

    <DeleteNotice DeleteClicked="DeleteSource" ItemTitle="@("Source " + _sourceCode)"></DeleteNotice>

</ilw-content>
