@page "/configuration/requestdeletion"
@layout SidebarLayout

<PageTitle>Configuration - Request Deletion</PageTitle>

<ilw-content>
    <h1>Request Deletion</h1>

    <p>You can delete all the data in your source. This is automatic and cannot be undone. </p>
    <DeleteNotice DeleteClicked="DeleteItems" ItemTitle="@("Source " + _sourceCode)"></DeleteNotice>


    <h2>Delete Source</h2>
    <p>You can request that the source is deleted. This will delete the data and all security settings associated with it. This is a manual process.</p>
    <button class="ilw-button  ilw-theme-orange-2" @onclick="DeleteSource">Request to Delete Source</button>

</ilw-content>
