@page "/configuration/deletion"
@layout SidebarLayout

<PageTitle>Configuration - Delete Source</PageTitle>

<ilw-content>
    <h1>Delete Source</h1>

    <h2>Delete Source Data</h2>
    <p>You can delete all the data in your source. This will delete all data, but still keep your filters, instructions, security settings, and logs associated with the source. This is automatic and cannot be undone. </p>
    <DeleteNotice DeleteClicked="DeleteItems" ItemTitle="@("Source Data " + _sourceCode)"></DeleteNotice>


    <h2>Delete Source</h2>
    <p>You can delete the source data and structure. This will delete everything associated with the source. This is automatic and cannot be undone.</p>
    <DeleteNotice DeleteClicked="DeleteSource" ItemTitle="@("Source " + _sourceCode)"></DeleteNotice>

</ilw-content>
