@page "/program/credentiallist"
@layout SidebarLayout

<PageTitle>Programs - Credential List</PageTitle>

<ilw-content>
    <h1>Credential List</h1>

    @if (_useCredentials.HasValue && _useCredentials.Value)
    {

    <div class="ils-input-entry">
        <label for="credential">Select a Credential</label>
        <select id="credential" name="credential" @bind="CredentialId">
            <option value="">Select</option>
            @foreach (var credential in ProgramItem.Credentials)
            {
                <option value="@credential.Id">@credential.Title</option>
            })
        </select>
    </div>
    <button class="ilw-button" @onclick="EditCredential">Edit Credential</button>
    <button class="ilw-button" @onclick="DeleteCredential">Delete Credential</button>

    <h2>Create a New Credential</h2>
    <button class="ilw-button" @onclick="CreateCredential">Create Credential</button>

    } else if (_useCredentials.HasValue && !_useCredentials.Value) {
        <p>Your area does not use programs. Go to the Configuration section to enable programs.</p>
    }

</ilw-content>