@page "/program/overview"
@layout SidebarLayout

<PageTitle>Programs - Overview</PageTitle>

<ilw-content>
    <h1>Overview</h1>

    <RichTextEditor @ref="@_rteDescription" Title="Description" FieldItems="_fieldItems"></RichTextEditor>
    <RichTextEditor @ref="@_rteWhoShouldApply" Title="Who Should Apply" FieldItems="_fieldItems"></RichTextEditor>
    <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
    <ViewLink Title="Program" Url="@ProgramItem.UrlFull"></ViewLink>
</ilw-content>