@page "/program/technical"
@layout SidebarLayout

<PageTitle>Programs - Technical Information</PageTitle>

<ilw-content>
    <h1>Technical Information</h1>
</ilw-content>
@if (ProgramItem != null)
{
    <StatusOnSite @bind-Value="ProgramItem.IsActive"></StatusOnSite>
    <MediumText Title="URL Fragment" FieldItems="FieldItems" @bind-Value="ProgramItem.Fragment"></MediumText>
    <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
    <div class="information-to-copy">
        <ilw-content class="header"><h2>Information to Copy</h2></ilw-content>
        <IdList Title="Id" FieldItems="FieldItems" Id="@ProgramItem.Id"></IdList>
        <IdList Title="Edit Link" FieldItems="FieldItems" Id="@ProgramItem.EditLink"></IdList>
    </div>
    <DeleteNotice DeleteClicked="Delete" ItemTitle="@ProgramItem.Title"></DeleteNotice>
}
